/* init */
@import "./init/layout.css";
@import "./init/reset.css";
@import "./init/variables.css";
/* 3rd party */
@import "./3rd-party/fontawesome.css"; /* components */
@import "./components/clock.css";
@import "./components/form.css";
@import "./components/mouse.css";
@import "./components/progress-bar.css";

/* CUSTOM STYLE BY SECTIONS */

/* hero start */
/* hero end */
/* main content  */
/* foter */
